@use "../screen" as *;
$services_grid-cols: 2 !default;

.intro {
  &-title {
    font-weight: 600;
    color: var(--color_text);
    margin-bottom: 20px;
    padding: 0 20px;
  }
  &-msg {
    color: var(--color_text);
    padding: 0 20px;
    font-weight: 200;
  }
  &-infos {
    padding: 0 20px;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}
.service {
  &-items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &::after {
      content: "";
      height: 100%;
      width: 1px;
      background: var(--border-vertical_1);
      position: absolute;
      top: 0;
      left: 50%;
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);

      &::after {
        content: unset;
      }
    }
  }
  &-item {
    padding: 30px;
    position: relative;
    &-icon {
      display: block;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      border: 1px solid var(--color_2);
      color: var(--color_2);
      border-radius: 30px;
      padding: 12px;
    }
    &-title {
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 17px;
    }
    &-content {
      font-weight: 300;
      color: var(--color_text);
    }
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background: var(--border-horizontal_1);
      position: absolute;
      bottom: 0;
      left: 0px;
    }
    &:nth-last-child(-n + 2)::after {
      content: unset;
    }
    @media (max-width: $mobile) {
      &:nth-last-child(-n + 2)::after {
        content: "";
      }
      &:nth-last-child(-n + 1)::after {
        content: unset;
      }
    }
  }
}

.about {
  &-title {
    color: var(--color_msg);
  }
  &-value {
    color: var(--color_text);
  }
}
