@use "../screen.scss" as *;

.project {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: $mobile) {
      display: block;
    }
  }
  &-nav {
    padding: 0px 20px 30px 0;
    position: absolute;
    right: 0;
    @media (max-width: $mobile) {
      position: relative;
      display: block;
      right: unset;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
  &-catlog {
    &-btn {
      padding: 0 5px;
      display: flex;
      align-items: center;
      .active {
        color: var(--color_2);
        font-weight: 600;
      }
      &:hover {
        color: var(--color_2);
      }
      &::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 100%;
        background: var(--border-vertical_1);
        margin-left: 10px;
      }
      &:nth-last-child(-n + 1)::after {
        content: unset;
      }
    }
  }
  &-grid-cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    position: relative;
    height: 280px;
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  &-grid-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--border-color_1);
    transition:
      visibility 1s linear,
      opacity 0s linear;

    &.animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-composition: replace, add;
    }
    &.hidden {
      background-color: var(--background-color_2);
      visibility: hidden;
      opacity: 0.4;
      z-index: 9;

      @media (max-width: $mobile) {
        visibility: visible;
        opacity: 1;
        z-index: 9;
      }
    }
  }
  &-card {
    &-image {
      width: 100%;
      height: 140px;
      background: var(--background-color);
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0;
      text-align: center;
    }
    &-category {
      text-align: center;
      color: var(--color_text);
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-70%, 10%, 0);
    transform: translate3d(-70%, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(70%, 10%, 0);
    transform: translate3d(70%, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
