$font_EN: (
    font-family: Lekton,
    font-family_1: Roboto,
    font-family_2: Roboto Slab,
);

$font_VI: (
    font-family: Be Vietnam Pro, 
    font-family_1: Source Code Pro,
    font-family_2: Merriweather
);


@font-face {
	font-family: "Lekton";
	src: url("./assets/fonts/Lekton/Lekton-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lekton";
	src: url("./assets/fonts/Lekton/Lekton-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Slab";
	src: url("./assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Source Code Pro";
	src: url("./assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf") format('truetype-variations');
	font-weight: 100 900;
	font-style: normal;
}
/* Be Vietnam Pro - Thin */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf") format('truetype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

/* Be Vietnam Pro - ExtraLight */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf") format('truetype');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

/* Be Vietnam Pro - Light */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

/* Be Vietnam Pro - Regular */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* Be Vietnam Pro - Medium */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

/* Be Vietnam Pro - SemiBold */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

/* Be Vietnam Pro - Bold */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

/* Be Vietnam Pro - ExtraBold */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

/* Be Vietnam Pro - Black */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

/* Be Vietnam Pro - Italic (Ví dụ cho bản Regular Italic) */
@font-face {
    font-family: "Be Vietnam Pro";
    src: url("./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
	font-family: "Merriweather";
	src: url("./assets/fonts/Merriweather/Merriweather-VariableFont.ttf") format('truetype-variations');
	font-style: normal;
}