@use "variables" as *;
@use "screen" as *;

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color_title);
  font-family: var(--font-family);
  font-weight: 400;
  cursor:
    url("./assets//cursor.svg") 16 16,
    auto;

  a:hover,
  [class*="-icon"]:hover,
  [class*="-btn"]:hover,
  .hamburger:hover {
    cursor:
      url("./assets//cursor-hover.svg") 16 16,
      auto;
  }

  &[data-lang="vi"] {
    font-size: 15px;
  }
}
.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(
    top left,
    #17171b 0,
    #28282f 100%
  ) !important;
  background: var(--background-drop) !important;
}
.bg-bubbles {
  position: relative;
  height: 100%;
  width: 100%;
  li {
    width: 40px;
  }
}
.layout-root {
  display: grid;
  grid-template-columns: 80px 480px auto;
  max-width: 720px;
  margin: auto auto;
  height: 100vh;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
  padding: 0 20px;
  z-index: 1;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    margin: 0 auto;
    height: 100vh;
    max-height: 100%;
    padding-left: 92px;
    max-width: 840px;
    position: relative;
    top: 20px;
  }

  @media (max-width: $mobile) {
    display: block;
    overflow-y: scroll;
    padding: 0;
    top: 0;
  }
}
.layout-header {
  flex-direction: column;
  background: transparent;
  margin-right: 8px;
  z-index: 0;
  position: sticky;
  top: 0;
  left: 0;
  @media (max-width: $tablet) {
    position: fixed;
    left: auto;
    width: 72px;
  }
  @media (max-width: $mobile) {
    position: sticky;
    margin: 0;
    left: 0;
    width: 100%;
  }
  &-inner {
    padding-top: 15px;
    @media (max-width: $mobile) {
      background: var(--background-color);
      padding: 0;
    }
  }
}
.mobile {
  &-header {
    position: relative;
    @media (max-width: $mobile) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 12px;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--border-horizontal_1);
      }
    }
  }
  &-brand {
    display: flex;
    align-items: center;
    padding-top: 10px;
    align-self: flex-start;
    @media (min-width: $mobile) {
      display: none;
    }
    &-logo {
      width: 44px;
      height: 44px;
      margin-right: 14px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      z-index: 2;
    }
    &-text {
      font-size: 15px;
    }
    &-typewriter {
      font-size: 12px;
      color: var(--color_2);
    }
  }
}
.layout-align-center {
  display: inline-block;
  vertical-align: middle;
  @media (max-width: $mobile) {
    display: block;
  }
}
.menu-btn {
  display: block;
  padding: 20px 3px;
  background: var(--background-color);
  color: var(--color_title);
  text-align: center;
  max-height: calc(26px + 50px * 3);
  transition: all 0.3s linear;
  margin-bottom: 8px;
  position: relative;
  max-width: 72px;
  @media (max-width: $mobile) {
    background: transparent;
    float: right;
    padding: 20px 0;
    max-height: 60px;
  }
  &.closed {
    max-height: 60px;
    overflow-y: hidden;
    .menu-btn-item {
      visibility: hidden;
      opacity: 0;
    }
  }
  &-select {
    position: absolute;
    top: 0;
    left: 70px;
    background: transparent;
    width: max-content;
    max-width: 200px;
    &.hidden {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
    }
    @media (max-width: $mobile) {
      display: none;
    }
    &.mobile {
      display: none;
      top: unset !important;
      left: unset !important;
      @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: 100%;
        max-width: unset;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 8px solid var(--background-color_2);
      left: 2px;
      top: 8px;
      @media (max-width: $mobile) {
        content: unset;
      }
    }
  }
  &-options {
    background-color: var(--background-color_2);
    margin-left: 12px;
    border-radius: 6px;
    position: relative;
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: row;
      justify-content: end;
      position: relative;
      margin-left: 0;
      width: 100%;
      padding: 10px 0;
      max-height: 80px;
      transition: all 0.3s linear;
      &.hidden {
        padding: 0;
        max-height: 0;
      }
    }
  }
  &-opt {
    text-align: left;
    user-select: none;
    padding: 10px 20px;
    position: relative;
    &:hover {
      color: var(--color_2);
      cursor: pointer;
      user-select: none;
    }
    &:nth-last-child(-n + 1)::after {
      content: unset;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: var(--border-horizontal_1);
      position: absolute;
      bottom: 0;
      left: 0;
      @media (max-width: $mobile) {
        height: 100%;
        width: 2px;
        right: 0;
        top: 0;
        bottom: unset;
        left: unset;
        background: var(--border-vertical_1);
      }
    }

    @media (max-width: $mobile) {
      display: inline-block;
      padding: 0 20px;
    }
  }
  &-item {
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.3s linear;
    min-height: 20px;
    font-size: 0.75rem;
    gap: 9px;
    @media (max-width: $mobile) {
      gap: 5px;
    }
    [data-lang="vi"] & {
      font-size: 9px;
    }
    &:hover {
      color: var(--color_2);
      ~ .menu-btn-select {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &-icon {
    margin: 0 auto;
  }
  &-span {
    &:hover {
      color: var(--color_2);
    }
  }
  &-group {
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile) {
      display: none;
    }
    &.mobile {
      display: none;
      @media (max-width: $mobile) {
        margin-bottom: 12px;
        max-height: 60px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s linear;
        &.closed {
          opacity: 0;
          margin-bottom: 0;
          max-height: 0px;
          visibility: hidden;
        }
      }
    }
  }
}
.menu-nav {
  border-radius: 6px;
  overflow: hidden;
  max-height: calc(85px * 4);
  transition: all 0.3s 0.3s linear;
  &-item {
    margin: 0;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: var(--color_title);
    position: relative;
    padding: 20px 3px;
    background: var(--background-color);
    ::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: radial-gradient(
        ellipse at right,
        rgba(197, 202, 213, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%
      );

      @media (max-width: $mobile) {
        left: unset;
        right: 0;
        background: var(--border-horizontal_1);
        width: 1px;
        height: 100%;
      }
    }

    &.none-border {
      ::after {
        content: unset;
      }
    }

    @media (max-width: $mobile) {
      flex: 1;
    }
  }
  &.closed {
    max-height: 0px;
    .menu-nav-item {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s 0.3s linear;
    }
  }

  @media (max-width: $mobile) {
    ul {
      display: flex;
      flex-direction: row;
      flex-basis: auto;
    }
  }
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  position: relative;
  height: 26px;
  margin-bottom: 10px;

  span {
    display: block;
    width: 26px;
    height: 2px;
    background: var(--color_title);
    transition: 0.3s;
  }
  &::before,
  &::after {
    content: "";
    width: 26px;
    height: 2px;
    background: var(--color_title);
    margin: 4px 0;
    display: block;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
  }
  &::before {
    width: 80%;
  }
  &::after {
    width: 60%;
  }
  &:hover {
    span {
      background-color: var(--color_2);
    }
    &::before {
      background-color: var(--color_2);
      width: 100%;
      height: 2px;
    }
    &::after {
      background-color: var(--color_2);
      width: 100%;
      height: 2px;
    }
  }
  &.expanded {
    &:hover {
      border: 1px solid var(--color_2);
      border-radius: 100%;
      span {
        background-color: var(--color_2);
        opacity: 0;
      }
      &::before {
        background-color: var(--color_2);
        width: 18px;
        height: 2px; // thêm chiều cao
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 4px)) rotate(45deg);
        transform-origin: center;
      }
      &::after {
        background-color: var(--color_2);
        width: 18px;
        height: 2px; // thêm chiều cao
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 4px)) rotate(-45deg);
        transform-origin: center;
      }
    }
  }
}
.layout-left {
  z-index: -1;
  @media (max-width: $mobile) {
    position: relative;
  }
}
.layout-right {
  z-index: -2;
  position: relative;

  .p-title {
    position: relative;
    font-size: 20px;
    padding: 0 20px 30px;
    font-family: var(--font-family);
    font-weight: 600;
    .first-word {
      color: var(--color_2);
    }
    h2 {
      display: inline-block;
    }
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      left: 10px;
      top: 5px;
      z-index: -1;
      border-radius: 30px;
      background: linear-gradient(
        135deg,
        rgba(255, 152, 0, 0.4) 0%,
        rgba(255, 152, 0, 0.01) 100%
      );
    }
    &::after {
      content: "";
      background: var(--border-horizontal_1);
      position: absolute;
      left: -30px;
      bottom: 0;
      right: 0;
      height: 1px;
    }
    [data-lang="vi"] & {
      font-weight: 600;
    }
  }
  .p-text {
    display: none;
    visibility: hidden;
  }
}
.card-inner {
  width: 100%;
  height: 95%;
  display: block;
  padding: 20px 0 0;
  background-color: var(--background-color_2);
  color: var(--color_title);
  border-radius: 0 4px 4px 0;
  position: absolute;
  visibility: visible;
  z-index: 10;
  transform-origin: center left;
  overflow-y: scroll;
  transition:
    visibility 1s linear,
    opacity 0s linear;

  @media (max-width: $mobile) {
    position: unset;
    &.fadeInLeft,
    &.fadeOutLeft {
      animation: unset;
    }
  }

  &.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-composition: replace, add;
  }
  &.hidden {
    background-color: var(--background-color_2);
    visibility: hidden;
    opacity: 0;
    z-index: 9;

    @media (max-width: $mobile) {
      visibility: visible;
      opacity: 1;
      z-index: 9;
    }
  }
}
#hero {
  position: relative;
  height: 100%;
  @media (max-width: $mobile) {
    padding-bottom: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      135deg,
      rgba(246, 184, 70, 0.4) 0%,
      rgba(246, 184, 70, 0.01) 100%
    );
    border-radius: 4px;
  }
}
.hero-profile-bg {
  background-color: var(--background-color_2);
  color: var(--color_title);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.profile {
  flex-grow: 1;
  height: 100%;
  position: relative;
  top: -100px;
  &-icon {
    font-size: 1.2rem;
    cursor: pointer;
    :hover {
      color: var(--color_2);
    }
  }
  &-cover-image {
    height: 100%;
    position: relative;
    &:before {
      background-color: var(--background-color_2);
      transform: rotate(12deg);
      width: 100%;
      height: 70%;
      position: absolute;
    }
    &::after {
      content: "";
      background-color: var(--background-color_2);
      width: auto;
      height: 100px;
      position: absolute;
      bottom: -65px;
      left: -20px;
      right: -20px;
      border-radius: 100% 100% 0 0;
    }
  }
  &-avatar {
    display: flex;
    justify-content: center;
    position: relative;
    &-img {
      width: 146px;
      height: 146px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 3px solid var(--color_1);
      z-index: 2;
      margin-bottom: 20px;
    }
    &::after {
      z-index: 1;
      content: "";
      width: 146px;
      height: 146px;
      border-radius: 100%;
      top: 10px;
      left: 50%;
      transform: translate(-60%);
      position: absolute;
      background: linear-gradient(
        135deg,
        rgba(255, 152, 0, 0.4) 0,
        rgba(255, 152, 0, 0.01) 100%
      );
    }
    img {
      object-fit: contain;
    }
  }
  &-btn {
    margin: 12px;
    width: 99.5%;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    &-context {
      display: flex;
      align-items: flex-start;
      line-height: 1;
      gap: 12px;
      &-icon {
        font-size: 16px;
      }
    }

    &:hover {
      color: var(--color_2);
    }

    &-gap {
      height: 70px;
      width: 1px;
      background: -moz-radial-gradient(
        top,
        ellipse cover,
        rgba(197, 202, 213, 0.15) 0,
        rgba(255, 255, 255, 0) 70%
      );
      background: -webkit-radial-gradient(
        top,
        ellipse cover,
        rgba(197, 202, 213, 0.15) 0,
        rgba(255, 255, 255, 0) 70%
      );
      background: var(--border-vertical_1);
    }
  }
  &-footer {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: var(--border-horizontal_1);
    }
  }
}
.content-box {
  margin-bottom: 50px;
}
